input[type="radio"]:after {
  width: 25px;
  height: 25px;
  border-radius: 20px;
  top: -2px;
  left: -1px;
  position: relative;
  background-color: #d1d3d1;
  content: "";
  display: inline-block;
  visibility: visible;
  border: 2px solid white;
  margin-right: 20px;
}

input[type="radio"]:checked:after {
  margin-right: 20px;
  width: 25px;
  height: 25px;
  border-radius: 20px;
  top: -2px;
  left: -1px;
  position: relative;
  background-color: #ffa500;
  content: "";
  display: inline-block;
  visibility: visible;
  border: 2px solid white;
}
